body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.login_div{
    color:yellow;
}
input[type=text],select{
    width: 60%;
    height: 25px;
    /* padding: 12px 20px; */
    margin: 8px 0;
    border-radius: 5px;
    display: inline-block;
    border: none;
}